<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />

{#	<meta charset="utf-8"/>#}
{##}
{#	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">#}
{#	<link rel="stylesheet" type="text/css" href="/static/css/style.css">#}
{#	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">#}
{##}
{#	<script type="text/javascript" src="/static/js/dev-vue.js"></script>#}
{#	{% block css %} {% endblock %}#}
{##}
{#	{% block js %}{% endblock %}#}
</head>
<body>
	<!-- Image and text -->
	<nav class="navbar navbar-light">
	  <a class="navbar-brand" href="/">
          Robby
          <svg class="blue-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M18.5 9c1 1.06 1.5 2.394 1.5 4 0 3.466-3.7 4.276-5.5 9-.667-.575-1-1.408-1-2.5 0-3.482 5-5.29 5-10.5zm-4-4c1.2 1.238 1.8 2.572 1.8 4 0 4.951-6.045 5.692-4.8 13C9.833 20.84 9 19.173 9 17c0-3.325 5.5-6 5.5-12zM10 1c1.333 1.667 2 3.167 2 4.5 0 6.25-8.5 8.222-4 16.5-2.616-.58-4.5-3-4.5-6C3.5 9.5 10 8.5 10 1z"/></svg>
          Salon
	  </a>
	</nav>

	{% block content %}{% endblock %}
</body>
</html>