<nav class="navbar text-white navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid mx-2">
    <a class="navbar-brand" href="#">
    <span class="h1 text-light">S</span><span class="text-primary h1">A</span><span class="text-light h1">LON</span>
        <div class="flex-row-reverse h6 text-light">BOMBA</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light mx-3 fw-bold" aria-current="page" href="{% url 'bot:home_page' %}">Home</a>
        </li>
       </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light mx-3 fw-bold" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light mx-3 fw-bold" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light mx-3 fw-bold" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>